<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入CSS文件 -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/element-ui.css">
    <title>{{title}}</title>
</head>
<body>
<!--=== this is main.hbs ===-->
{{{body}}}
</body>

</html>
