<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入CSS文件 -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=320px,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/element-ui.css">

    <title>{{title}}</title>
</head>
<body>
<!--=== this is main.hbs ===-->
{{{body}}}
</body>

</html>
