<!--<h2>欢迎来到我们的网站！</h2>-->
<!--<p>这是一个使用Handlebars模板引擎的Express应用程序。</p>-->

<div id="app">
    <{userInfo}>
    <div id="currentURL"><{currentURL}></div>
    <el-button class="btn" data-clipboard-target="#currentURL"   >复制</el-button>

</div>

<script src="/vue2.6.11.js"></script>
<script src="/element-ui.js"></script>
<script src="/jquery-1.9.1.min.js"></script>
<script src="/clipboard.min.js"></script>
<script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function (e) {
        console.info('copy url:', e.text);
    });
</script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['<{', '}>'],  //分隔符
        data: function() {
            return {
                userInfo: {},
                title:'xxxxxxxxxxx',
                currentURL:''
            }
        },
        methods: {
            getInfo() {
                let _self = this;
                $.ajax({
                    type: "POST",
                    url: "/user/info/{{{uuid}}}",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data.data.userinfo);
                        _self.userInfo = data.data.userinfo;
                    }
                });
            }

        },
        mounted() {
            this.getInfo();
            this.currentURL = window.location.href;
        }
    })
</script>
